<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cable Support Systems</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
</head>
<body>
<table>
    <tr>
        <td>
            <div>
                <h2>Загрузка файла</h2>
                <p th:if="${message ne null}" th:text="${message}"></p>
                <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
                    <div>
                        <input accept=".txt" name="file" type="file">
                    </div>
                    <button type="submit">Начать</button>
                </form>
            </div>
        </td>
        <td>
            <div th:if="${resultFilename ne null}">
                <p>Результат сохранен в</p>
                <p th:text="${resultFilename}"></p>
                <a th:download="${resultFilename}" th:href="${resultFilename}">Скачать</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div th:if="${source ne null}">
                <h2>Исходные данные</h2>
                <table class="buildingTable">
                    <tr th:each="line : ${source}">
                        <td th:each="symbol : ${line}">
                            <p th:text="${symbol}"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>
            <div th:if="${result ne null}">
                <h2 th:text="'Результат: ' + ${cableCount} + '.'">
                </h2>
                <table class="buildingTable">
                    <tr th:each="line : ${result}">
                        <td th:each="symbol : ${line}">
                            <p th:text="${symbol}"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</body>
</html>